[submodule "static/calorie-counter"]
	path = static/calorie-counter
	url = https://github.com/humbamp123/calorie-counter.git
[submodule "static/wire-nuts"]
	path = static/wire-nuts
	url = https://github.com/humbamp123/wire-nuts.git
[submodule "static/bike-rack"]
	path = static/bike-rack
	url = https://github.com/humbamp123/bike-rack.git
